*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: antiquewhite;
    color: black;
    margin: 20px 40px;
}
/* nav{

}
ul{
    list-style: none;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 5px;
    height: 10vh;
}
main{
    height: 58vh;
}
.main-glass{
    border-radius: 8px;
    opacity: 0.8;
    background-color: rgb(228, 193, 142);
}

footer{
    display: flex;
    justify-content: space-between;
    height: 20vh;
} */
